---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ciocirlan.portfolio">
	<header
		class="flex justify-between bg-zinc-900 py-[4vh] xl:py-[5vh] px-[6vw] md:px-[8vw] xl:px-[6vw]"
	>
		<div class="text-white text-xl">ciocîrlan.</div>
		<div class="text-white text-xl">Portfolio</div>
	</header>
	<main
		class="bg-[url('./src/assets/bg2.png')] xl:bg-[url('./src/assets/bg1.png')] bg-cover bg-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-rows-8 sm:grid-rows-4 lg:grid-rows-3 xl:grid-rows-2 flex-1 place-items-center"
	>
		<Card img="red" />
		<Card img="green" />
		<Card img="blue" />
		<Card img="red" />
		<Card img="purple" />
		<Card img="aqua" />
		<Card img="coral" />
		<Card img="red" />
	</main>
</Layout>
<style>
	@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

	header {
		font-family: "JetBrains Mono", serif;
		font-weight: 400;
	}
</style>
