---
export interface Props {
	img: string;
}

const { img } = Astro.props;
---

<a class="card-bg w-3/4 h-[55%]"></a>

<style define:vars={{ img }}>
	.card-bg {
		background-color: var(--img);
	}
</style>
